.status-bar {
  height: 50px;
  background: var(--surface-primary);
  color: var(--foreground-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  font-weight: 600;
  font-size: 17px;
}
